@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');

body{
    margin: 0px;
    font-family: 'Sora';
}

#menu_topo{
    background-image: linear-gradient(to right, #203FA4, #3C6EFF);
    padding-left: 250px;
    padding-right: 250px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;
}
#caixa_menu{
    color: #FFFFFF;
    display: flex;
    gap: 30px;
    font-size: 18px;
}
.botao_amarelo{
    font-weight: 600; /*deixar o texto mais destacado em negrito*/
    background-color: #FFFC00;
    color: #000000;
    padding: 15px;
    border-radius: 70px;
    width: fit-content; /* ajustar a largura automaticamente pelo conteúdo */
}

.menus{
    /* border: 1px solid red; */
    align-items: center;
    display: flex;
}
#banner{
    height: 600px;
    background-image: url('imagens/banner.png');
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: -3px;
    align-items: center;
    display: flex;
    justify-content: flex-end; /*Alinhar no lado direito*/
    padding-right: 150px;
}
#conteudo_banner{
    width: 500px;
    color: #FFFFFF;
}
#conteudo_banner h1{
    font-size: 50px;
}
#conteudo_banner p{
    font-size: 25px;
}
.amarelo{
    color: #FFFC00;
}

.menus:hover{
    color: #FFFC00;
    cursor: pointer;
}
.botao_amarelo:hover{
    background-color:  #ebbc03;
    cursor: pointer;
    scale: 1.2;
    transition: all 0.5s;
}
#secao2{
    /* border: 1px solid red; */
    display: flex;
    padding-top: 100px;
    padding-bottom: 100px;
    justify-content: center;
}
#conteudo_esquerdo{
    /* border: 1px solid red; */
    width: 20%;
}
#conteudo_direito{
    /* border: 1px solid red; */
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}
.azul{
    color: #203FA4;
}
#conteudo_esquerdo h1{
    font-size: 50px;
}
#conteudo_esquerdo p{
    font-size: 20px;
}

.cartoes{
    background-color: #DDDDDD; 
    width: 200px;
    height: 200px;
    border-radius: 25px;     /* cantos arredondados*/
    align-items: center;     /*centralizar verticalmente*/
    justify-content: center; /* centralizar horizontalmente*/
    display: flex;           /*objetos lado a lado*/
    flex-direction: column;  /*organizar em colunas*/
    text-align: center;      /*texto centralizado*/
    font-weight: 700;        /*espessura do texto*/
    padding: 15px;          /*espaçamento interno*/
    margin-bottom: 40px;    /*distância  na parte de baixo*/
}

#secao3{
    height: 800px;
    background-image: url('imagens/fundo.png');
    background-size: cover;
    color: #FFFFFF;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}
.planos{
    height: 450px;
}
#secao3 h1{
    font-size: 65px;
    width: 50%;
}

#botao_depoimentos{
    color: #FFFFFF;
    background-image: linear-gradient(to right, #203FA4,  #3C6EFF );
    width: fit-content;
    height: fit-content;
    padding: 15px;
    font-size: 30px;
    font-weight: 700;
    border-radius: 10px;
}